# Gradle
.gradle/
build/

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse / STS
.classpath
.project
.settings/
bin/

# NetBeans
/nbproject/
/nbbuild/
/dist/

# VS Code
.vscode/

# Java compiled files
*.class
*.log

# Package files
*.jar
*.war
*.zip
*.tar.gz

# OS
.DS_Store